extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 M. Enes Celik

        p.lead.text-light
          | Sofware Developer - Vancouver, Canada

        p.portfolio-bio
          | A dedicated software developer who recently embarked on a journey to acquire expertise in the field by pursuing an IT diploma at Douglas College in Vancouver, BC, and subsequently achieved graduation. Possessing a versatile skill set, I specialize in both front-end and back-end development. On the front-end, my proficiency extends to HTML, CSS, JavaScript, as well as frameworks such as React and Bootstrap, among other essential tools. In the realm of back-end development, I have cultivated proficiency in NodeJS, ExpressJS, PHP, and Laravel (MVC Model), complemented by adeptness in managing databases, including MySQL and MongoDB. My preferred platform for PHP and Laravel development predominantly revolves around AWS, where I have honed my programming capabilities.

      .cell.portfolio-meta.small-5.medium-3.large-3
        h6 Skills

        ul.skills
          li Front-End 
          li Back-End 
          li Android 

        h6 Contact Info
        ul.contact-info
          li 778-223-2801
          li m96celik@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/menescelik/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/MEC0134' target="_blank") GitHub
        a.button.expanded(href='mailto:m96celik@gmail.com' target="_blank") Send Email
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
