extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 M. Enes Celik

        //- Feel free personalize the title below
        p.lead.text-light
          | Web Developer

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Passionate software developer who recently decided to study an IT diploma at Douglas College in Vancouver, BC and successfully graduated.
            | I have experience with front-end and back-end development. For front-end I have experience with HTML, CSS, JavaScript and frameworks like React and Bootstrap and more tools.    
            | For the back-end I have experience with NodeJS, ExpressJS, PHP, Laravel (MVC Model) and Databases like MySQL and MongoDB. I mostly used AWS to program in PHP and Laravel.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Front-End Web Dev
          li Back-End Web Dev
          li Android Development
        h6 Contact Info

        //- Add your own contact info
        ul
          li 778-223-2801
          li m96celik@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/menescelik/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/MEC0134' target="_blank") GitHub
        a.button.expanded(href='mailto:m96celik@gmail.com' target="_blank") Send Email
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  