extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 M. Enes Celik

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Freelance Web Developer and Web Content Writer.  
            | Writing blogs, website content and (especially) Facebook ads for diverse businesses, entrepreneurs and international parties is part of the common work under Ang's belt. 
            | Otherwise, you'll see me riding horses and going on hikes around the country with friends.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Front-End Web Dev
          li Back-End Web Dev
          li Android Development
          li Public Relations
          li Horse Riding
          li Dog Walking
          li Cat Walking
        h6 Contact Info

        //- Add your own contact info
        ul
          li 778-223-2801
          li m96celik@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://ca.linkedin.com/in/menescelik?trk=people-guest_people_search-card' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/MEC0134/WebDev' target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/' target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  