<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800' rel='stylesheet')
    script(src="https://code.jquery.com/jquery-3.7.1.min.js")
    link(rel='stylesheet' href='/static/css/foundation.css')
    link(rel='stylesheet' href='/static/css/style.css')
    title Portfolio Site

  body
    #my-info.off-canvas.position-left.reveal-for-large.portfolio-me(data-off-canvas='')
      .grid-y.grid-padding-x(style='height: 100%;')
        block sidebar
          br
          .cell.shrink
            img.thumbnail(src='/static/profilePic.jpg')
          .cell.auto

            h5 M. Enes Celik

            p.text-light.layout-para
              |Completed studying IT at Douglas College. Currently working to become a software developer. 

            a(href="/about") Learn More →

            hr

            div.project-menu.layout-para
              form(id="projectFilterForm" action="/filterProjs" method="POST")
                button(type="submit" name="category" value="all") All Projects
                button(type="submit" name="category" value="front-end") Front-End
                button(type="submit" name="category" value="back-end") Back-End
                button(type="submit" name="category" value="full-stack") Full-Stack


    .off-canvas-content(data-off-canvas-content='')
      .title-bar.hide-for-large
        .title-bar-left
          button.menu-icon(type='button' data-toggle='my-info')

          span.title-bar-title M. Enes Celik
      block content


  script(src='/static/js/vendor/what-input.js')
  script(src='/static/js/vendor/foundation.js')
  script(src='/static/js/scripts.js')
