extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1= project.projectName

        .lead.text-light
          p= project.description

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        ul
        each item in project.technologies
          li= item

        br

        if project.liveDemo
          a.button.expanded(href= project.liveDemo target="_blank") Live Demo
        a.button.expanded(href= project.gitHubRepo target="_blank") GitHub Repo

        br


      each image in project.images
        img.image(src=`/images/${image}`)
